div.result(style="width: 70%; margin-left: 15%; margin-bottom: 5%; text-align: center;")
    div.panel
        div.panel-body
            span.h3 #{domain} - #{index}&nbsp;IQ&nbsp;
            span.glyphicon.glyphicon-chevron-down
            table.wall.table.table-bordered.table-responsive(style="display: none;")
                thead
                    tr
                        th(colspan="2", style="text-align: center;") #
                        th IQ
                each post in posts
                    tr
                        td
                            img.media-object(style="width: 75px; height: 75px;", src=post.image)
                        td
                            span.h4(style="text-align:left;")= post.preview
                        td
                            span.h4= post.index